div.img>p {
    padding-top: 90px;
}

.title {
    display:flex;
    flex-direction: column;
}
.img {
    background-color: lightblue;
    align-content: center;
    width:700px;
    height: 200px;
    padding-bottom: 40px;
    text-align: center;
    margin-top:40px;
    flex:auto
}

h1 {
    color:#F0FAf8;
    font-size:48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.info {
    color: #F0FAf8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.texth {
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 80px;
    background-color: #1F2937;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    padding-bottom: 100px;    
}
 .submit {
    color: white;
    background-color:#3882F6;
    border-radius: 0.5em;
    border-color:#3882F6;
    border-style: none;
    height:33px;
    width:100px;
 }

div.header>div:nth-child(1) {
    font-size:24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.headerLinks {
    font-size:18px;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5em;
    color:#E5E7EB;
}

.header {
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 10px;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    color:#F9FAF8;
    justify-content: space-around;
}

div.container1 {
    width: fit-content;
    background-color: white;
    margin-left: auto;
    margin-right:auto;
    height: 300px;
    display: flex;
    justify-content: space-around;           
    flex-wrap: nowrap;
    gap:30px;
    padding-bottom: 30px;
}
 
 div.col>p {
    margin-right:auto;
    margin-left:auto;
    padding-right: 0;
    padding-left: 0;
    width: 130px;
}

div.col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

div.box1,
div.box2,
div.box3,
div.box4 {
    padding-left: 0;
    padding-right: 0; 
    border-width: 3px;
    border-color: rgb(23, 164, 189);
    border-style: solid;
    height: 140px;
    width: 130px; 
    border-radius: 1em;
}

div.container1 > div.col > p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    font-weight:bolder;
    color:#1F2937;
}